
body {
  background-color: #e6ffff;
  width: 90%
}

img {
  border: 5px groove #A5A5AF;
  margin: .5em;
  width: 225px;
}

img:hover {
  border: 5px solid  #77C9D4;
}

h1, h2 {
  color: #015249;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}